*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(156, 219, 217, 0.597);
}
#wrapper{
    display: flex;
    min-height: 100vh;
}

#app {
    /* height: 100vh; */
    margin: auto;
}

img{
    width: 225px;
    margin-bottom: 1rem;
}
button{
    border-radius: 3px;
    background-color: #fff173;
    color: black;
}
.container{
    background-color: white;
    border-radius: 3px;
    box-shadow: grey 0.5px 1px;
    margin-top: 1rem;
}

.tasks input{
    border-style: none;
}